body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: gray;
    
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "DM Sans", sans-serif; */
}

.title {
    color: red;
    display: flex;
    justify-content: center;
    font-weight: 350;
}
