.title {
    color: #000000;
    display: flex;
    justify-content: center;
    font-weight: 350;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #000000;
}

body { 
     margin: 0; 
     padding: 0; 
     width: 100vw; 
     height: 100vh; 
     font-family: "Montserrat", sans-serif; 
     background-color: #A4B2BF;
}
